<header class="bd-header py-3 header-bg" [ngClass]="teamColor ? teamColor : 'header-bg'">
  <div class="container-fluid d-flex align-items-center">
    <p class="d-flex align-items-center fs-4 text-white mb-0">
      @if (!teamColor) {
        <nz-select [(ngModel)]="selectedSeason">
          <nz-option *ngFor="let season of seasonList" [nzValue]="season" [nzLabel]="season"></nz-option>
        </nz-select>
      }@else {
        <i class="fa-solid fa-chevron-left text-color me-2" (click)="handleBack()"></i>
        <span class="text-color">{{teamName}}</span>
      }
    </p>

    <div class="ms-auto">
      <i class="fa-regular fa-bell text-color title me-3 me-md-4"></i>
      <button nz-button nzShape="round" class="follow-btn">
        <i class="fa-solid fa-plus me-1"></i>
        <span>Follow</span>
      </button>
    </div>
  </div>
</header>
